@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bungee&family=Carter+One&family=Special+Elite&family=Staatliches&display=swap');

body {
    background: url("../imagem/background-blur.png") no-repeat;
    background-size: cover;
    color: #221915;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}


main {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 80px 0;
}


.card {
    display: inline-block;
    text-align: center;
    background: url(../imagem/fundo-papel-envelhecido.jpg) no-repeat;
    background-size: cover;
    max-width: 360px;
    padding: 8px 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

header {
    font-family: "Alfa Slab One", serif;
    font-size: 40px;
    width: 100%;
}

header .img-personagem {
    padding: 10px 0;
}

header img {
    border: #221915 solid;
}

.detalhes {
    font-family: "Special Elite", system-ui;
}

.morto-ou-vivo h2 {
    font-family: "Special Elite";
    font-size: 35px;
    letter-spacing: 6px;
}

.morto-ou-vivo p {
    font-family: "Alfa Slab One", serif;
    text-align: center;
    font-size: 40px;
    letter-spacing: -3px;
}

.recompensa {
    font-size: 28px;
    letter-spacing: 5px;
}

.bloco-da-descricao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.descricao {
    text-align: left;
    font-size: 6px;
    padding: 0 0 0 2px;
}


.marine {
    text-align: right;
    font-family: "Alfa Slab One", serif;
    font-size: 30px;
    letter-spacing: -2px;
}